<%- include('partials/header'); -%>

<header>
  <div class="tomatoes">
    <img src="/tomato.png" alt="">
  </div>
  <div class="headings">
    <h2>Tomatoes Kinds</h2>
    <h3>By Naija For Naijas</h3>
    <a href="/tomatoes" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>