<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/tomato.png" alt="tomato recipe icon">
    <h4>Plum tomato</h4>
    <p>Big, Red, and Delicious</p>
  </li>
  <li class="recipe">
    <img src="/tomato.png" alt="tomato recipe icon">
    <h4>Cherry tomato</h4>
    <p>Big, Red, and Delicious</p>
  </li>
  <li class="recipe">
    <img src="/tomato.png" alt="tomato recipe icon">
    <h4>Protein Packer</h4>
    <p>Big, Red, and Delicious</p>
  </li>
  <li class="recipe">
    <img src="/tomato.png" alt="tomato recipe icon">
    <h4>Better Boy</h4>
    <p>Big, Red, and Delicious</p>
  </li>
  <li class="recipe">
    <img src="/tomato.png" alt="tomato recipe icon">
    <h4>Early Girl</h4>
    <p>Big, Red, and Delicious</p>
  </li>
</ul>

<%- include('partials/footer'); -%>